<footer>
    <p class="mx-2 mdm:mx-5 mdm:mb-7 mt-7 lrg:mt-0">Para consultas y más información, contáctanos:</p>
    <ul class="mdm:my-7 ml-6">
        <li class="text-p smll:text-p-smll mdm:text-p-mdm lrg:text-p-lrg xlrg:text-p-xlrg mdm:my-7">Correo Electrónico: <a href="mailto:contacto@concursodecocinapueblo.com" class="link:green-light visited:green-lightactive:green-light hover:green-dark no-underline">contacto@concursodecocinapueblo.com</a></li>
        <li class="text-p smll:text-p-smll mdm:text-p-mdm lrg:text-p-lrg xlrg:text-p-xlrg mdm:my-7">Teléfono: (+34) 629 567 890</li>
        <li class="text-p smll:text-p-smll mdm:text-p-mdm lrg:text-p-lrg xlrg:text-p-xlrg mdm:my-7">Dirección: Calle Principal, Santa Maria de las Luces, España</li>
    </ul>
    <div class="lrg:flex lrg:items-center lrg:mx-2.5 xlrg:mx-10">
        <p class="text-center mx-2 mdm:mx-5 mdm:my-7 mb-5 lrg:text-left, lrg:mb-0 lrg:mr-auto">&copy;</p>
        <nav class="sans font-bold lrg:m-auto">
            <ul class="text-center -ml-8 lrg:flex lrg:flex-wrap lrg:overflow-hidden mdm:ml-auto">
                <li class="nav-li-primary mdm:my-7"><a href="index.html" class="link:green-light visited:green-light active:green-light hover:green-dark no-underline">Sabores del Pueblo</a></li>
                <li class="nav-li-primary mdm:my-7"><a href="#" class="link:green-light visited:green-light active:green-light hover:green-dark no-underline">Participantes</a></li>
                <li class="nav-li-primary mdm:my-7"><a href="article.html" class="link:green-light visited:green-light active:green-light hover:green-dark no-underline">Nota de prensa</a></li>
                <li class="nav-li-primary mdm:my-7"><a href="#" class="link:green-light visited:green-light active:green-light hover:green-dark no-underline">Inscripción</a></li>
            </ul>
        </nav>
        <div class="text-center pb-7 mt-12 lrg:text-left lrg:pb-0 lrg:mt-0 lrg:ml-auto">
            <a href="#" class="fa fa-google no-underline mx-10 mdm:mx-7 xlrg:mx-2.5"></a>  
            <a href="#" class="fa fa-facebook no-underline mx-10 mdm:mx-7 xlrg:mx-2.5"></a>
            <a href="#" class="fa fa-twitter no-underline mx-10 mdm:mx-7 xlrg:mx-2.5"></a>
        </div>
    </div>
</footer>