<header class="mdm:flex mdm:items-center mdm:my-7">
    <p class="text-center mx-2 mdm:mx-5 mdm:my-7 pt-5 mb-5 mdm:mr-auto pt-0">©</p>
    <nav class="sans font-bold">
        <ul class="text-center -ml-8 lrg:flex lrg:flex-wrap lrg:overflow-hidden mdm:ml-auto">
            <li class="nav-li-primary"><a href="#" class="link:green-light visited:green-light active:green-light hover:green-dark no-underline">Participantes</a></li>
            <li class="nav-li-primary"><a href="article.html" class="link:green-light visited:green-light active:green-light hover:green-dark no-underline">Nota de prensa</a></li>
            <li class="nav-li-primary"><a href="#" class="link:green-light visited:green-light active:green-light hover:green-dark no-underline">Inscripción</a></li>
        </ul>
    </nav>
</header>